*{
  font-family: avenir;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 30px;
  font-size: x-large;
  height: 20px;
  
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-section {
  margin-bottom: 10px;
}


#main {
  display: flexbox;
  justify-content: flex-start;
  align-content: flex-start;
  height: 960px;
  width: 960px;
  min-width:0;
  column-gap: 0px;
  border-radius: 5px;
  border: 2px solid black;
}

body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pixel {
  background-color: red;
  column-gap: 0px;
  margin: 0;
  padding: 0;
}

.change {
  background-color: black;
}